<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CN-DRGs国家DRGs质控中心-管理员</title>
    <script src="<%= static_path(@conn, "/css/jquery/jquery.min.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/semantic-ui/semantic.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/calendar/calendar.css") %>">
    <script src="<%= static_path(@conn, "/css/semantic-ui/semantic.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/css/calendar/calendar.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/css/vue.min.js") %>"></script>
  </head>

  <body>
    <div class="ui text menu" style="margin-top:6px;border-bottom:1px solid #d4d4d5;box-shadow:3px 2px 3px #dedede;"  id="app_menu">
      <a class="item" href="/admin/"><h1 class="ui header">&nbsp;&nbsp;CN-DRGs网站管理系统</h1></a>
      <div class="right menu" style="margin-bottom:4px;margin-right:20px;">
          <div class="ui compact menu" style="margin-bottom:4px;margin-right:20px;">
            <div class="ui dropdown item">dzc<i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href=""><div class="item">登出</div></a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="ui padded grid">
        <div class="three wide column">
          <div class="ui vertical menu">
            <a class="item" href="/admin/user">用户管理</a>
            <a class="item" href="/admin/book">文献管理</a>
            <a class="item" href="/admin/doc">文档管理</a>
            <a class="item" href="/admin/download_record">下载记录</a>
            <a class="item">修改用户信息</a>
            <a class="item">培训资料下载管理</a>
            <a class="item">技术资料下载管理</a>
            <a class="item">上传管理</a>
          </div>
        </div>
        <div class="thirteen wide column" >
          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
$(document.body).css({'overflow-y': 'hidden'});
$('.ui.accordion').accordion();
$('.ui.dropdown')
  .dropdown({
    allowAdditions: true
  })
;
</script>
